</main>
<div class="contain-footer">
    <footer>
        <section class="social-media">
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-tiktok"></i></a>
            <a href=""><i class="fab fa-facebook-f"></i></a>
        </section>
        <section class="flex-img">
            <div>
                <a href="https://www.afm-telethon.fr/fr"><img src="https://www.tousbenevoles.org/images/action/1678191890.jpg" alt="logo théléthon"></a>  
            </div>
            <div>
                <a href="https://octobrerose.fondation-arc.org/"><img src="https://www.angouleme.fr/wp-content/uploads/2023/10/logo-octobre-rose-3.jpg" alt="logo octembre rose"></a>
            </div>
        </section>
        <section class="cgd">
            <h4>A propos</h4>
            <ul>
                <li> <a href="">SAV</a></li>
                <li><a href="">Service Client </a></li>
                <li><a href="">Livraison et retour</a></li>
            </ul>
        </section>
    </footer>
</div>
<script src="/script/header.js"></script>
    </body>
</html>