<%- include('./includes/header.ejs') %> <%- include('./includes/slider.ejs' , {
sliderImg:sliderImg}) %>
<section class="current-home">
  <h2>Qui je suis ?</h2>
  <div class="current-section">
    <div>
      <img
        src="https://img.freepik.com/photos-gratuite/jeune-femme-posant-portant-robe-feminine-elegante-mode-accessoires-paille_291049-179.jpg?w=740&t=st=1701774195~exp=1701774795~hmac=767a8d5bc8402f580e39c28d28f3db87e0ebf70ea828301b65f35fd8b3dc1e3b"
        alt="photo de moi"
      />
    </div>
    <article class="current-description">
      <p>
        Salut les amoureux de l'éclat et de l'originalité ! Je suis Cynthia,
        l'esprit créatif et l'âme déjantée derrière "The Crazy Poppies". 🌟
      </p>
      <p>
        Imaginez un monde où chaque bijou raconte une histoire, capture un
        moment précieux, et célèbre l'individualité. C'est exactement l'univers
        que je m'efforce de créer avec chaque pièce unique de ma collection de
        bijoux faits main.
      </p>
      <p>
        Chez "The Crazy Poppies", chaque bracelet, chaque collier, et chaque
        boucle d'oreille est conçu avec amour, créativité débordante et une
        pincée de folie. Je veux que chaque bijou soit plus qu'un simple
        accessoire, je veux qu'il soit une déclaration audacieuse de votre style
        unique.
      </p>
      <p>
        Que vous soyez à la recherche d'une explosion de couleurs, d'un éclat
        discret, ou d'une pièce qui vous fera vous démarquer, "The Crazy
        Poppies" est l'endroit où votre style prend vie.
      </p>
      <p>
        Explorez notre collection et plongez dans un monde de créations
        originales qui reflètent l'individualité, la passion et l'aventure.
        Merci de rejoindre la folie joyeuse de "The Crazy Poppies" - où chaque
        bijou a une histoire à raconter, tout comme vous !
      </p>
    </article>
  </div>
</section>
<section class="current-position-tittle">
  <h2>Ou je suis en ce Moment</h2>
  <div class="current-position">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45372.76966554196!2d-0.896869887102247!3d44.70332074406573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54c1da357df3a1%3A0x40665174816cf10!2s33380%20Marcheprime!5e0!3m2!1sfr!2sfr!4v1689797619495!5m2!1sfr!2sfr"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>

<%- include('./includes/footer.ejs') %>
