<%- include('includes/header.ejs')%>

<h1>Choix du Moyen de Paiement</h1>
<section class="payment-button">
    <div id="paypal-button-container"></div>
</section>
<script src="/script/app.js">
</script>
<%- include('includes/footer.ejs')%>
